<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
		 {% load staticfiles %}
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel = "stylesheet" type = "text/css" href= "static/css/oms.css">
		<script src="static/js/oms.js"></script>

</head>
<body>
	<script>
		window.onload = function(){
			 on_staff_load();
		}			
	</script>	
	<div id='container' class='staff'>
			<div id='staff-heading' class='staff-heading'>
				<a class='staff-home right-button' href="main">Home</a>	
				<br>
				<h3 align='center' style='font-size:40px;margin-top: -21px; margin-left: 70px;font-family: Comic Sans MS;'>Manage Your Staff Here</h3>
				
			</div>
			<div id='staff-sidebar' class='staff-sidebar staff-sidebar-dacoration'>
				<ul>
					<li id='director'><a class='staff-menu-button'> Manage Directors</a><br>
						<ul id='dir_submenu'>
							<li id='register_dir'><a class='staff-menu-button staff-submenu-button' >Registrer director</a><br></li>
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing2');>Delete director</a><br></li>
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing2');>Update detail</a><br></li>	
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing2');>View director list</a><br></li>			
						</ul>				
					</li>
					<li id='employee'><a class='staff-menu-button'>Manage Employees</a>
						<ul id='emp_submenu'>
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing');>Developer</a><br></li>
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing2');>Designer</a><br></li>
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing2');>Tester</a><br></li>	
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing2');>HR Manager</a><br></li>			
						</ul>	
					</li>
					<li id='other'><a class='staff-menu-button' >Others</a>
						<ul id='oth_submenu'>
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing');>Peons</a><br></li>
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing2');>Sweepers</a><br></li>
							<li><a class='staff-menu-button staff-submenu-button' onclick=alert('testing2');>Security Guards</a><br></li>			
						</ul>		
					</li>					
				</ul>			
			</div>
			
		<div id='directors' class='staff-contents dir'>
			<p align='center' style='font-size:22px;font-family: Trebuchet MS, Arial, Verdana;background:linear-gradient(to right,rgba(140,6,5,0.1),rgba(338,384,271,0.4),rgba(140,6,5,0.1));'>Directors in Company</p>
				<! table for handling showing director data >		
			<table class="table-striped table-border" align='center' >
		    	<thead>
		    		  <tr class='task-table-header'>
		    			    <th width=10%>#</th>
		    			    <th width=20%>Director Name</th>
		    			    <th width=20%>Date of Joining</th>
							<th width=10%>Experience/years</th>
							<th width=20%>Salary</th>
							<th width=20%>Department Name</th>	
	      			</tr>
		    	</thead>
		    <tbody>
			
		
			{% for data in 'xxxxxxxxxxxxxxxxxxxxx' %}
		    	<tr>
					<td >{{ forloop.counter }}</td>
		    	    <td  style='color:#000000;'><b>John</b></td>
		    	    <td >10-10-2016</td>
		    	    <td >1</td>
					<td >Rs. 35,000</td>
					<td >Development</td>
		    	  </tr>
			{% endfor %}
	
		    </tbody>
	  	</table>
				
					
			</div>
		<div id='employees' class='staff-contents emp'>
	 		<p align='center' style='font-size:22px;font-family: Trebuchet MS, Arial, Verdana;background:linear-gradient(to right,rgba(140,6,5,0.1),rgba(338,384,271,0.4),rgba(140,6,5,0.1));'>Employees</p>
		
		 <table class="table-responsive table-border " align='center' >
		    <thead>
		      <tr style='color:000000; opacity:9'>
		        <th width=10%>#</th>
		        <th width=20%>Name of Employee</th>
		        <th width=20%>Date of Joining</th>
				<th width=10%>Experience/years</th>
				<th width=20%>Salary</th>
				<th width=20%>Shift of Work</th>	
	      </tr>
		    </thead>
		    <tbody>
			
			{% with '10' as dataset %}
			{% for data in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
		    	<tr>
					<td >{{ forloop.counter }}</td>
		    	    <td ><b> Clare </b></td>
		    	    <td >10-10-2016</td>
		    	    <td >1</td>
					<td >Rs. 20,000</td>
					<td >1</td>
		    	  </tr>
			{% endfor %}
			{% endwith %}
		    </tbody>
	  	</table>
				
				
			</div>
		<div id='others' class='staff-contents oth'>
			<p align='center' style='font-size:22px;font-family: Trebuchet MS, Arial, Verdana;background:linear-gradient(to right,rgba(140,6,5,0.1), rgba(338,384,271,0.4),rgba(140,6,5,0.1));'>Other Employees</p>
			 <table class="table-border" align='center' >
			    <thead>
				      <tr>
					       <th width=10%>#</th>
		       	 		   <th width=20%>Name of Employee</th>
		        		   <th width=20%>Date of Joining</th>
						   <th width=10%>Experience/years</th>
						   <th width=20%>Salary</th>
						   <th width=20%>Field of Work</th>	
				      </tr>
			    </thead>
		    <tbody>
			
			{% with '10' as dataset %}
			{% for data in "xxxxxxxxxxxxxxxxxxxxxx" %}
		    	<tr>
					<td>{{ forloop.counter }}</td>
		    	    <td>Clark</td>
		    	    <td>10-10-2016</td>
		    	    <td>1</td>
					<td>Rs. 15,000</td>
					<td>1</td>
		    	  </tr>
			{% endfor %}
			{% endwith %}
		    </tbody>
	  	</table>
			</div>	
		

		<div class='dir_form form-back'>
			<p id='heading' style='text-align:center;font-size:22px;'><b>Director Form</b></p>
			<div class="form-content form-dacoration">
				<br>
				<p style="margin-top:10px;margin-left:10px;font-size:16px;color:blue;">Register Director </p>
			    <table width='50%'>
					<tbody>
					<tr style='border-style:none;'><td width='50%'><label for='name'>Name</label></td><td width='30%'><input type='text' name='name'></input></td></tr>
					<tr><td width='50%'><label for='join_date'>Date of Joining</label></td><td width='30%'><input type='date' name='jdate'></input></td></tr>
					<tr><td width='50%'><label for='exp'>Experience/year</label></td><td width='30%'><input type='text name='exp'></input></td></tr>
					<tr><td width='50%'><label for='sal'>Salary</label></td><td width='30%'><input type='text' name='sal'></input></td></tr>
					<tr><td width='50%'><label for='department'>Department Name</label></td><td width='30%'>
					<select style="width : 130px;margin-left:192px;" id="att-status" onchange=''>
						<option selected="selected" value="-"> Select Attendence </option>
						<option value="P">Present</option>
						<option value="A">Absent</option>
						<option value="H">Half Day</option>
						<option value="SL">On Leave</option>
						<option value="O">Other</option>
					</select>
					</td></tr>
					</tbody>				
				</table>
      </div>	
	</div>
</div>	
<div class="dis-layer" id="dis-layer"></div>
</body>
<html>












